body() {
    padding-top: 800px;
    margin: 0;

}

.menu {
    list-style: none;
    font-family: fantasy;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: cyan;
    padding: 9px;
    font-family: fantasy;
    font-size: 30px;
}

.links:hover {
    background-color: brown;
}

#Welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #03fcf8;
    opacity: 0.83;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 15%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: table;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: black;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 40px;
    padding-top: 600px;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}
